node_modules
dist
.husky

.git
.gitignore
.editorconfig
.eslintrc.js
.eslintignore
.lintstagedrc
.prettierignore
.prettierrc.js
.commitlintrc.json

npm-debug.log

jest.config.js
coverage

LICENSE
VERSION
README.md

docker-compose.yml
