{
  "module": {
    "type": "commonjs",
    "noInterop": true
  },
  "jsc": {
    "keepClassNames": true,
    "target": "es2020",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    }
  }
}
